.container form{
    width: 35%;
    margin: 2rem auto;
    padding: 2rem 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 8px 3px rgb(217, 216, 216);
}
.container h1{
    text-align: center;
    margin-top: 5rem;
}
.container form input,.container form select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    outline: none;
}
.container form input[type="submit"]{
    cursor: pointer;
    background-color: #db3545;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 12px;
}